body {
    background-image: linear-gradient(rgb(25,25,0,0.7),rgba(0,0,0,0.4)), url('figures/background_picture_earth_sun3.jpg');
    background-size:  100% auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

footer {
    background-color: #111;
    padding: 5px 0;
    text-align: right;
    color: whitesmoke;
    flex-shrink: 0; /* Prevent footer from shrinking */
    width: 100%; /* Extend footer to 100% width */
    margin-top: 20px;
}

.container{
    text-align: center;
    flex: 1;
    max-width: 130vh;
}

.footer_paragraph{
  text-align: center;
  color: #666;
  width: 100%;
}


.container h1 {
    margin-top: 80px;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.container h4 {
  margin-top: 50px;
  font-weight: bold;
  color: white;
}

.container h5 {
  font-weight: bold;
  color: white;
}

.container h6 {
    margin-top: 15px;
    margin-bottom: 70px;
    font-weight: bold;
    color: white;
}

#changingText.fade-out {
    opacity: 0;
    transition: opacity 1.5s ease;
  }

#changingText.fade-in {
    opacity: 1;
    transition: opacity 1.5s ease; /* Slower transition */
  }

#textParagraph {
    font-style: italic;
    font-size: large;
    margin-bottom: 30px;
  }

li {
    color: white;
}

button{
    margin-bottom: 20px;
}

li {
    text-align: left; /* This will align the text to the left within the li element */
}

.section {
    background-color: rgba(0,0,0,0.6);
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif; /* Example font */
}

figcaption{
    color: white;
    margin-bottom: 10px;
}



.lecture-buttons {
    display: flex; /* Display buttons in a row */
    flex-wrap: wrap;
    gap: 10px; /* Add spacing between buttons */
  }

  .lecture-button {
    background-color: #0074d9;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    flex: 1;
  }

  .lecture-button:hover {
    background-color: #ff4136;
  }

  .lecture-content {
    margin-top: 20px; /* Add spacing between buttons and content */
    display: none; /* Hide all content by default */
  }

  .active {
    display: block; /* Show the active content */
  }

  
/* Navbar styles */
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
}

/* Rest of the CSS, including media queries if needed */

.navmen {
  list-style: none;
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
  overflow: hidden;
  color: rgb(169, 173, 174);
  font-size: large;
}

.navmen li {
  float: left;
}

.navmen li a {
  display: block;
  padding-left: 10px;
  padding-right: 25px;
  margin: 0;
}
