html{
    background-image: black;
}

body {
    background-color: black;
    background-image: linear-gradient(rgb(0,0,0,0.6),rgba(0,0,0,0.6)), url('figures/multicolored-nebula.jpg');
    background-size:  100% auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h4 {
    text-align: left;
}

p {
    color: white;
    text-align: justify;
}


.gjsb_pic {
    width: 95%;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-right: 35px;
    border-radius: 35px;
}

.image_me {
    width: 250px;
    margin: 10px;
}

button {
    width: 75px;
    font-size: 15px;
}

h5 {
    color: white;
    text-align: left;
}

#footer-paragraph {
    color: black; /* Apply a specific style to the paragraph */
    text-align: center;
  }